@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fragment+Mono&display=swap');

/* <------------------------navbar styling--------------------------> */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bdbfc0;
  
}

.title {
    font-size: 3rem;
    color: white;
    white-space: nowrap;
}
.logo{
  height:70px
}
.logotitle{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
}


.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 5px;
  font-weight: 300;
  background-color: #fff;
  color: #212529;
  transition: all 0.3s;
  border-radius: 3px;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}




/* Index.html styling */
.main{
  height:90vh;
   
  background-color: #0c0c0c;

}
.infocontainer{
  padding-top:100px;
  
  display:flex;
  justify-content: space-around;
  align-items: center;
 
  
 

  
}
.devinfo{
  
  color:white;
  
  display:flex;
  justify-content: center;
  flex-direction: column;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.devinfo .name1{
  font-size: 2.5rem;
}
.devinfo .name2{
  font-size: 3.5rem;
  font-weight:bold
}
.devinfo .name3{
  font-size: 1.5rem;
  margin-top:20px
  
}

.buttons button{
  padding:6px;
  border-radius: 5px;
  margin:50px 7px;
  height:35px;
  background-color: rgb(157, 156, 155);
  color:#fefdfd;
  font-weight:lighter;
  border: none;
 letter-spacing: 1px;
  font-family: 'Tilt Warp', cursive;
  cursor: pointer;
}
.buttons button:hover{
  background-color: rgb(254, 254, 253);
  color:#0a0a0a;

}
.devpic img{
  width:40vw;
 
  
  
  
}
.name3{
  width:40vw;
  height:20vh;
  text-align: justify;

  
  
 
}

/* <---------------Contact form styling------------> */
.contactform{
  height:100vh;
  background-color: black;
  color:white;

  /* display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; */
}
.contactform h1{
  text-align: center;
  padding-top:80px;
  font-size: 3rem;
  margin-bottom: 67px;
  /* font-family: 'Bakbak One', cursive; */
  font-family: 'Fragment Mono', monospace;
  font-weight: bolder;
}
.mb-3{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  

}
.form-control{
  width:25vw;
  height:20px;
  font-size: 12px;
  border-radius: 3px;
  border:none
}
.mb-3{
  margin:20px 0;
}
.contactform form{
  margin-left:30px
}
.form-label{
  font-size:15px
}
.form-text{
  margin-top: -15px;
  font-size: 12px;
}
.form-check{
  margin-top: -15px;
  font-size: 12px;
}
.btn {
  margin-top: 20px;
  width:70px;
  border:none
}
.btn {
  
  border-radius: 13px;
  
  height:25px;
  background-color: rgb(157, 156, 155);
  color:#fefdfd;
  /* font-weight:lighter; */
  border: none;
  padding:4px;
  font-family: 'Tilt Warp', cursive;
  cursor: pointer;
 

}
.btn:hover{
  background-color: rgb(254, 254, 253);
  color:#0a0a0a;

}

/* <--------------blog styling--------------> */

.blogcontainer{
  height: 100vh;
  background-color: #0a0a0a;
  color:white
}


/* <-------------------------about me-----------------------> */

.about{
  background-color: #0a0a0a;
  height:110vh;
  color:white;
  
}

.about h1{
  padding-top: 50px;
  
  margin-bottom: 30px;
  margin-left: 15px;
  font-size: 3rem;
  letter-spacing: 3px;
 
  font-weight: bolder;
}
.about p{
  margin-left:20px;
  width:90vw;
  
  font-size:15px;
  text-align: justify;
}
.about h2{
  margin-left:15px;
  font-size:2rem;
  margin-top:20px

}
.skillcontainer{
  margin-left:20px;
  margin-top:20px;
}
.skill {
  margin-bottom: 35px;
  position: relative;
  /* overflow-x: hidden; */
  width:200px;
  font-family:  cursive;
  
}

.skill p {
  font-size: 15px;
  font-weight: 600;
  color: #fdfdfc;
  margin: 0;
  margin-bottom: 5px;

}

.skill:before {
  width: 100%;
  height: 10px;
  content: "";
  display: block;
  position: absolute;
  background: #454545;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background: #f9f9f9;
  display: block;
  position: relative;
}

.skill-bar span {
  position: absolute;
 
  top: -23px;
  padding: 0;
  font-size: 14px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  right: 0;
}

.skill1 {
  width: 95%;
}

.skill2 {
  width: 85%;
}

.skill2 .skill-count2 {
  right: 0;
}

.skill3 {
  width: 75%;
}

.skill3 .skill-count3 {
  right: 0;
  }
.skill4 {
  width: 85%;
}

.skill4 .skill-count4 {
  right: 0;
  }
.skill5 {
  width: 80%;
}

.skill5 .skill-count5 {
  right: 0;
  }
.skill6 {
  width: 75%;
}

.skill6 .skill-count6 {
  right: 0;
  }
/* 
  <--------------portfolio--------------> */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    /* align-items: center; */
    background-color: black;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;

    
  }
  
/* ===========================================
Responsive Codes navbar
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #121212;
  }

  .header {
    position: relative;
  }

  
  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  
  
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }
  
  .title{
    font-size: 1rem;
    
  }
  .logo{
    height: 40px;
  }
  .title {
      font-size: 2rem;
      color: white;
  }
}






/* Below 560px <----------------------------------Home page body responsive------------------------------> */
@media (max-width: 35em) {
  .buttons button{
    padding:3px;
    border-radius: 3px;
    margin:5px 7px;
    height:20px;
    background-color: rgb(157, 156, 155);
    color:#fefdfd;
    font-weight:lighter;
    border: none;
  
    font-family: 'Tilt Warp', cursive;
    cursor: pointer;
    font-size: 1rem;
  }
  .devinfo .name1{
    font-size: 2rem;
  }
  .devinfo .name2{
    font-size: 2.5rem;
    font-weight:bold
  }
  .devinfo .name3{
    font-size: 1rem;
    margin-top:  20px;
    
  }
  /* contact form css */
  .contactform h1{
    
    font-size: 2rem;
  }
  .form-control{
    
    height:15px;
    width:30vw
    
  }
  .form-label{
    font-size: 12px;
  }
  .form-text {
    margin-top: -15px;
    font-size: 8px;
  
  
  }
  .form-check-label{
    font-size: 8px;
  }
}
  

/* <----------------portfolio responsive----------> */
/* screensize 980 px */
@media (max-width: 62em){
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media(max-width:35em){
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

